* {
  box-sizing: border-box;
}

.container {
  width: 405px;
  height: 276px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 36px;
  border-radius: 24px;
  border-bottom: 2px solid var(--mainPurpleColor);
}

.headline {
  color: #6940db;
  font-weight: 400;
}

.pContainer {
  font-weight: 400;
}

.pContainer p {
  height: 96px;
}

.btn {
  width: 173px;
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0ecfb;
  border: none;
  border-radius: 25px;
  padding: 10px 24px 10px 16px;
  color: #6940db;
  font-size: 16px;
  font-weight: 600;
}
.btn svg {
  color: #6940db;
}
