.container {
  height: 92px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 16px 16px 16px 32px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

.container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#profileImgContainer {
  width: 10%;
}
#profileImg {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

#name {
  width: 15%;
}

#profession {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#position {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#status {
  width: 10%;
  padding: 4px 14px 4px 12px;
  background: #f0ecfb;
  border-radius: 25px;
  text-align: center;
}

#message {
  width: 10%;
}
