.firstContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px;
  height: 176px;
  background: #ffffff;
  border-bottom: 2px solid #d2c6f4;
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.firstContainer .rightSide {
  display: flex;
  width: 40%;
  height: 112px;
  gap: 24px;
  align-items: center;
}
.imgContainer img {
  width: 112px;
  height: 112px;
  border: 2px;
  border-radius: 50%;
  /* background-image: url(); */
  /* background-size: cover;
  background-position: center;
  position: relative; */
}

.imgContainer svg {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nameAndProfession {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: center;
}
.name {
  color: var(--mainPurpleColor);
}
/*^ left side of the first container  */
.firstContainer .leftSide {
  display: flex;
  width: 55%;
  height: 112px;
  justify-content: space-around;
}
.workPref {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.workPref div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cvBtn {
  background-color: #f0ecfb;
  display: flex;
  align-items: center;
  padding: 10px 24px 10px 16px;
  border-radius: 25px;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.cvBtn:hover {
  background-color: #d8d3e6; /* Change to a darker shade on hover */
}

.interviewMe {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.interviewMeBtn {
  background-color: var(--mainPurpleColor);
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 24px 10px 16px;
  border-radius: 25px;
  gap: 8px;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}
