.container {
  display: flex;
  flex-direction: column;
}

.containerOne {
  height: 54px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 24px 24px 0 0;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
  padding: 16px 16px 16px 32px;
}

.containerOne p {
  width: 45px;
  height: 22px;
  top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #8792a1;
}

#profileImg {
  width: 10%;
}

#name {
  width: 15%;
}

#profession {
  width: 25%;
}

#position {
  width: 30%;
}

#status {
  width: 10%;
}

#message {
  width: 10%;
}
