.jobListCategories {
  display: flex;
  align-items: center;

  padding: 16px 32px 16px 32px;
  gap: 10px;

  height: 56px;

  /* light gray */
  border-bottom: 1px solid #efefef;
}
.dateCategory
  .jobCategory
  .professionCategory
  .statusCategory
  .submitedCategory {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: var(--blackColor);
  color: #8792a1;
}
.companyCategory {
  width: 5%;
}
.jobCategory {
  width: 50%;
}
.professionCategory {
  width: 15%;
}
.submitedCategory {
  width: 10%;
}
.statusCategory {
  width: 10%;
}
.dateCategory {
  width: 8%;
  display: flex;
  align-items: center;
}
.editCategory {
  width: 7%;
}
